form{
    text-align: right;
    width: 100%;
    margin-left: 240px;
}
.card__expireData__CVV {
    display: flex;
    gap: 40px;
}

@media (max-width: 600px) {
    form {
        text-align: center;
        width: 100%;
        margin-top: 120px;
        margin-left: 0;

        position: none;
        left: auto;
    }
}