.card {
    color: #FFF;
    width: 492px;
    height: 302px;
    padding: 35px 45px;
    border-radius: 10px;
    text-shadow: 0 1px 2px black;
    box-shadow: 4px 4px 10px #444;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
    transition: none;
}

.card__bg-default {
    background-image: url('../../assets/svg/default__credit-card.svg');
}

.card__bg-visa {
    background-image: url('../../assets/svg/visa__credit-card.svg');
}

.is-flipped {
    transition: all ease .8s;
    transform: perspective(800px) rotateY(180deg);
    transform-style: preserve-3d;
}

.card__front-face,
.card__back-face {
    backface-visibility: hidden;
}

.card__back-face {
    transform: rotateY(180deg);
}

.card__numero {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 36px;
}

.card__info__validade {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

.card__nome {
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .card {
        padding: 15px;
        top: 240px;
        width: 280px;
        height: 170px;
    }
    .card__numero {
        font-size: 14px;
    }
    .card__info__validade {
        font-size: 12px;
    }
}