article {
    background-color: #FFF;
    width: 100%;
    padding: 65px 10px;

    display: flex;
    justify-content: end;
    align-items: center;
}

@media (max-width: 600px) {
    article {
        width: 100%;
        padding: 40px;
        justify-content: center;
    }
}